.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: inherit;
    transition: 0.35s;
}

.cover__link:hover {
    background: #2A2C2F;
    opacity: 0.8;
    transition: 0.35s;
}