.places {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 984px;
    margin: auto;
    margin-top: 12px;
    padding-right: 24px;
    padding-left: 24px;
}
 

 
@media all and (max-width: 575px) {
    .places {
        padding-right: 0px;
        padding-left: 0px;
    }
  }  